TOKEN=
CLIENT_ID=
MONGODB_URL=mongodb+srv://<db_user>:<db_password>@<cluster-host>/vocard?retryWrites=true&w=majority&appName=<cluster-name>
MONGODB_NAME=vocard

LAVALINK_HOST=
LAVALINK_PORT=2333
LAVALINK_PASSWORD=<same-as-lavalink-server-password>
LAVALINK_IDENTIFIER=DEFAULT
LAVALINK_SECURE=false

IPC_ENABLE=false
IPC_HOST=127.0.0.1
IPC_PORT=8000
IPC_PASSWORD=
IPC_SECURE=false
IPC_HEARTBEAT=30

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_COUNTRY_CODE=US
SPOTIFY_TOKEN_ENDPOINT=

SERVER_PORT=2333
LAVALINK_SERVER_PASSWORD=<choose-a-strong-password>
LOG_LEVEL_ROOT=INFO
LOG_LEVEL_LAVALINK=INFO
LAVALINK_REQUEST_LOGGING=true

SETTINGS_FILE=settings.json
